<div class="container">
  <div class="img-thumb">
    <img [src]="imgPlaceHolder" [alt]="'Picked Image'">
    <div class="edit-profile-img">
      <button mat-icon-button (click)="profileImagePicker.click()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <input [hidden]="true" #profileImagePicker type="file" (change)="fileChangeEvent($event)" accept="image/*"/>
  </div>
  <div class="text">
    <div class="main">
      <h1 class="title">
        PERSONAL INFORMATION
      </h1>
      <button mat-button (click)="openNewDialog()">Edit Profile</button>
    </div>

    <div class="data-view">
      <table class="data-info-table">
        <tbody>
          <tr class="info-group">
            <td class="label">Full Name</td>
            <td class="value">{{user?.firstName }} {{user?.lastName}}</td>
          </tr>
          <tr class="info-group">
            <td class="label">Phone No</td>
            <td class="value">{{user?.phone ? user?.phone : 'N/A'}}</td>
          </tr>
          <tr class="info-group">
            <td class="label">Email</td>
            <td class="value">{{user?.email ? user?.email : 'N/A'}}</td>
          </tr>
          <tr class="info-group">
            <td class="label">Address</td>
            <td class="value">{{user?.address ? (user?.address | titlecase) : 'N/A'}}</td>
          </tr>
          <tr class="info-group">
            <td class="label">Member Since</td>
            <td class="value">{{user?.createdAt | date: 'fullDate'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>