.gap{
    padding-top: 150px;
    display: block;
    margin: auto;
    width: 90%;
} 
footer{
    padding: 20px;
    color: #fff;
    background: #111;
}
footer a{
    color: #fff;
    background: #111;
}
footer a:hover{
    color: yellowgreen;
}



.max-width{
    width: 80%;
    margin: auto;
}
.header{
    display: flex;
}



/* bar Styling */

.bar{
    height: 40px;
    display: block;
    position: fixed;
    width: 100%;
}

.social-icon-bar{
    margin-top: 10px;
    margin-right: 10%;
}
.bar .social-icon-bar i{
    float: right;
    padding-right: 20px;
}
.bar .social-icon-bar a{
    color: #111;
}
.bar .social-icon-bar a:hover{
    color: blue;
}

/* Logo */
.max-width .logo{
    height: max-content;
    width: max-content;
    margin-top: 38px;
}
.max-width .logo img{
    display: block;
    position: relative;
    height: 120px;
    width: auto;
    cursor: pointer;
}

/* Search */
.search-box{
    width: 60%;
    height: 80px;
}
.search{
    border: 1px solid black;
    padding-left: 25px;
    background:white;
    width: 80%;
    height: 55px;
    margin-left: 25px;
    margin-top: 60px;
    margin-right: 0px;
    font-size: 20px;
}

/* Account */
.login a {
    position: absolute;
    right: 10%;
    top: 79px;
    font-size: 26px;
    text-decoration: none;
    color: var(--primary-color);
    cursor: pointer;
    transition: 0.3 all ease-in-out;
}
.login a:hover {
    color: var(--secondary-color);
}

/* navbar styling */
.navbar{
    top: 170px;
    height: 70px;
    display: block;
    position: absolute;
    width: 100%;
    align-items: center;
    background: #111;
    
}
.navbar .menu{
    align-items: center;
    width: 95%;
    margin: auto;
    text-align: center;
}
.navbar .menu ul li{
    list-style: none;
    display: inline-block;
    font-size: 25px;
}
.navbar .menu ul li a{
    text-align: center;
    color : white;
    display: block;
    margin-top: 4px;
    padding: 10px 20px;
    text-decoration: none;
    font-family: var(--primary-font);
    font-weight: 300;
}
.navbar .menu ul li a:hover{
    color: var(--secondary-color);
}

.navbar button{
    display: none;
    top: 15px;
    padding: 15px;
    position: absolute;
    background: none;
    right: 0;
}


.main{
    margin: 5%;
}


.active{
    display: block;
}



/* none */

@media only screen and (max-width: 750px) {
    .search-box{
        width: 60%;
        height: auto;
    }
    .login a {
        position: absolute;
        right: 5%;
        top: 59px;
        font-size: 26px;
    }
    .search{
        margin-top: 35px;
        font-size: 15px;
    }
    .max-width .logo img{
        display: block;
        position: relative;
        height: 50px;
        width: auto;
        cursor: pointer;
    }
    .navbar button{
        display: block;
    }
    .active{
        display: none;
    }
    /* sidebar styling */
    .navbar .menu{
        display: none;
    }
    .navbar button{
        display: block;
    }
    .navbar .menu ul{
        display: none;
    }
    .navbar .menu ul li{
        display: none;
    }
    .navbar .menu ul li a{
        display: none;
    }
    /* sidebar styling */
    .sidebar{
        top: 0px;
        right: 0px;
        height: 100vh;
        z-index: 999;
        width: 30%;
        display: block;
        position: fixed;
        background: #111; 
    }
    .sidebar .menu{
        width: 100%;
        margin: 0;
        padding-top: 40px;
    }
    .sidebar .menu ul{
        background-color: none;
        width: 100%;
        padding: 0px;
    }
    .sidebar .menu ul li{
        background-color: whitesmoke;
        list-style: none;
        display: absolute;
        font-size: 25px;
        width: 100%;
        margin-bottom: 5px;
    }
    .sidebar .menu ul li a{
        position: relative;
        width: 100%;
        font-size: 15px;
        text-align: left;
        color : black;
        margin-top: 14px;
        margin-left: 10px;
        /* padding: 10px 0px 10px 0px; */
        text-decoration: none;
        font-family: var(--primary-font);
        font-weight: 300;
    }
    .sidebar .menu ul li a:hover{
        color: var(--secondary-color);
    }

    .sidebar .menu ul button{
        padding: 15px;
        position: absolute;
        background: none;
        top: 0;
        right: 0;
    }
  }




