<div class="bar">
    <div class="social-icon-bar">
        <a href="https://www.facebook.com/GadgetCells/"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
        <a href="https://www.google.com"><i class="fab fa-google-plus-g"></i></a>
        <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
    </div>
</div>

<div class="max-width">

    <div class="header">
        <div class="logo">
            <img src="../../../assets/images/logo.png" routerLink="/" alt="logo">
        </div>
        <div class="search-box">
            <input class="search" type="text" placeholder="Search by name or category" name="search">
        </div>
    </div>
</div>
<div class="login">
    <a class="btn" routerLink="{{loginButtonAction}}">{{loginButtonText}}</a>
</div>


<mat-sidenav-container>
    <mat-sidenav #sidenav [mode]="'side'">
        <button (click)="sidenav.toggle()"><i class="fas fa-bars"></i></button>
        <div class="sidebar">
            <div class="menu">
                <ul>
                    <button (click)="sidenav.toggle()"><i class="fas fa-bars"></i></button>
                    <li class=""><a routerLink="men">Mens</a></li>
                    <li class=""><a routerLink="women">Women</a></li>
                    <li class=""><a routerLink="/cart">Cart</a></li>
                    <li class=""><a routerLink="/profile">User profile</a></li>
                    <li class=""><a routerLink="/admin">Admin Panel</a></li>
                </ul>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        
    </mat-sidenav-content>
</mat-sidenav-container>


<div class="navbar">
    <div class="menu">
        <ul>
            <li><a class="active"routerLink="men">Mens</a></li>
            <li><a class="active" routerLink="women">Women</a></li>
            <li><a class="active"routerLink="/cart">Cart</a></li>
            <li><a class="active" routerLink="/profile">User profile</a></li>
            <li><a class="active" routerLink="/admin">Admin Panel</a></li>
        </ul>
    </div>
    <button (click)="sidenav.toggle()"><i class="fas fa-bars"></i></button>
</div>
<div class="gap">
    <div class="main">
        <ng-content></ng-content>
    </div>
</div>

<div class="gap"></div>
<footer class="footer">
    Developed by <a href="https://www.facebook.com/saniulislam39">Saniul Islam</a>
</footer>