<div class="bar">
    <div class="social-icon-bar">
        <a href="https://www.facebook.com/GadgetCells/"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
        <a href="https://www.google.com"><i class="fab fa-google-plus-g"></i></a>
        <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
    </div>
</div>

<div class="max-width">

    <div class="header">
        <div class="logo">
            <img src="../../../assets/images/logo.png" routerLink="/" alt="logo">
        </div>
        <div class="search-box">
            <input class="search" type="text" placeholder="Search by name or category" name="search">
        </div>
    </div>
</div>
<div class="login">
    <p></p>
    <a class="btn active" routerLink="{{loginButtonAction}}">{{loginButtonText}}</a>
</div>

<div class="navbar">
    <div class="menu">
        <ul>
            <li class="item"><a routerLink="men">Men</a></li>
            <li class="item"><a routerLink="women">Women</a></li>
            <li class="item"><a routerLink="/cart">Cart</a></li>
            <li class="item"><a routerLink="/profile">User profile</a></li>
            <li class="item"><a routerLink="/admin">Admin Panel</a></li>
        </ul>
    </div>
</div>

<div class="gap">
    <ng-content></ng-content>
</div>


<div class="gap"></div>
<footer class="footer">
    Developed by <a href="https://www.facebook.com/saniulislam39">Saniul Islam</a>
</footer>
